@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Fira Code", monospace;
    font-style: normal;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: $white;
}

h2,
p {
    margin: 0;
}
